# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.The_Last_Trinity.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\The_Last_Trinity\.idea\.idea.The_Last_Trinity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
